<h2>WebCrater Creater: </h2>
<ul class="thumbnails">
  <li>
    <a href="https://twitter.com/#!/ken_nishi" class="thumbnail">
      <img src="https://si0.twimg.com/profile_images/943947900/P1010457_normal.jpg" alt="">
      @ken_nishi
    </a>
  </li>
</ul>
