<h2>WebCrater Creater: </h2>
<ul class="thumbnails">
  <li>
    <a href="https://twitter.com/#!/ken_nishi" class="thumbnail">
      <img src="https://si0.twimg.com/profile_images/943947900/P1010457_normal.jpg" alt="">
      @ken_nishi
    </a>
  </li>
  <li>
    <a href="https://twitter.com/#!/satomacoto" class="thumbnail">
      <img src="https://si0.twimg.com/profile_images/2075282442/181059da824d11e1a87612313804ec91_7_normal.jpeg" alt="">
      @satomacoto
    </a>
  </li>
  <li>
    <a href="https://twitter.com/#!/asterismt" class="thumbnail">
      <img src="https://si0.twimg.com/sticky/default_profile_images/default_profile_4_normal.png" alt="">
      @asterismt
    </a>
  </li>
  <li>
    <a href="https://twitter.com/#!/moyahima" class="thumbnail">
      <img src="https://si0.twimg.com/profile_images/1692434183/Screen_Shot_2011-12-14_at_2.37.25_PM_normal.png" alt="">
      @moyahima
    </a>
  </li>
  <li>
    <a href="https://twitter.com/#!/ryooopan" class="thumbnail">
      <img src="https://si0.twimg.com/profile_images/1116924773/2010-09-04_12.31.45_normal.jpg" alt="">
      @ryooopan
    </a>
  </li>

</ul>
